#gitignore file
.build/*
lib/Moose*
Spreadsheet-XLSX-Reader-LibXML*
*.tar.gz
*.zip
DevelopmentNotes.txt
Makefile.old
Supporting_Documentation/*
lib/Spreadsheet/XLSX/Reader/LibXML/XMLDOM/*
t/Spreadsheet/XLSX/Reader/LibXML/XMLDOM/*
t/test_files/spread_test.xlsx
t/04-endless_loop_bug.t
t/test_files/spread_test*
t/test_files/ChartSheet/*
t/test_files/ChartSheet.zip
t/test_files/metaExample*
*- Copy*
